.map {
    padding: 2em;
}

.map-btns {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;

    &.map-btns button {
        background-color: aqua;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }
}